body {
  color: #17202A;
  background-color:#FBFCFC;
  font-family: 'Comfortaa', cursive, sans-serif;

}

/** HEADER **/
#header-nav {
  background-color: #919494;
  border-radius: 0;
  border: 0;
}

#header-nav .container {
  margin: 0;
 }

.navbar-header{
  padding-left: 30px;
}

.navbar-brand { 
  margin: 5px 0px 15px 0px;
  }

.navbar-brand p { 
  font-size: 36px;
  color: #17202A;
  font-weight: bold;
  }

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  margin: 10px 5px 5px 5px;
  border: 1px solid #17202A;
}

#collapsable-nav {
  padding: 0px;
  }

#nav-list {
  margin: 0px;
  background-color: #C2C8C8;
  }

#nav-list li {
  font-size: 25px;
  text-align: center;
  }

/* END HEADER */

/* MAIN CONTENT */
#page-heading {
  margin-bottom: 40px;
  font-weight: bold;
}

#main-content {
  width: 95%;
  background-color: #919494;
  margin-bottom: 30px;
}

#main-content-title {
  font-size: 25px;
  font-weight: bold;
}
/* END MAIN CONTENT */


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* MAIN CONTENT */
  #main-content {
    width: 70%;
  }
  /* END MAIN CONTENT */
}

